footer.container
  .row
    .footer-col.col-md-9
      p
        | &copy; #{ new Date().getFullYear() } So Make It Ltd.
      p.legal
        | A not-for-profit company limited by guarantee, registered in England and Wales with company number: 08442741.<br /> Registered address: 6 Irving Road, SO16 4DZ.
    .footer-col.col-md-3.align-right
      p.backtotop
        a(href='#') Back to top
      p
        | Powered by <a href="http://github.com/members-area/members-area">Members Area</a>
