extends !layout

block title
  = title
  |  | So Make It Members

block headerNavLeft
  ul(class="nav navbar-top-links navbar-left members")
    li
      a(href='http://www.somakeit.org.uk/') Website
    li
      a(href='http://wiki.somakeit.org.uk/') Wiki
