extends !layout

block title
  = title
  |  | So Make It Members

block headerNavLeft
  ul(class="nav members")
    li
      a(href='http://www.somakeit.org.uk/') Website
    li
      a(href='http://wiki.somakeit.org.uk/') Wiki

block footer
  p.backtotop
    a(href='#') Back to top
  p
    | &copy; #{ new Date().getFullYear() } So Make It Ltd.
  p.legal
    | A not-for-profit company limited by guarantee, registered in England and Wales with company number: 08442741. Registered address: 6 Irving Road, SO16 4DZ.
