a.navbar-brand {
  min-width: 180px;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 30px;

  text-indent: -9999px;
  whitespace: nowrap;
}

.navbar-fixed-top {
  margin-bottom: 0;
}

footer {
  margin-top: 20px;
  .row {
    max-width: 1024px;
    margin: 0 auto;
  }
  .align-right {
    text-align: right;
  }
}
